@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --green: #081a6b;
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc,
        -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
        -.4rem -.4rem 1rem #fff inset;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* border:0.1rem blue solid ; */
    /* filter: invert(); */


}
/* 
::-moz-selection { 
    color: red;
    background: yellow;
  }
  
  ::selection {
    color: red;
    background: yellow;
  } */
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-size: 62.5%;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

.theme {
    filter: invert() contrast(110%) saturate(150%);

}


.main  {
    padding: 2rem 0 2rem 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
}

span {
    border: none;
}

.strike-line{
    text-decoration: line-through;
    color: green;
}


.operator {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-color: rgba(244, 151, 167 , 1); */
    /* overflow: hidden; */

}

/* ********************************** */

.main .blend{
    mix-blend-mode: luminosity;
}
/* 
.main .color{
    background-color: rgba(244, 151, 167 , 1);


} */

/* 
.main .color{
    background-color:blue;


} */

.container {
    /* mix-blend-mode: luminosity; */
    width: 95%;
    min-height: 80vh;
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: 3rem;
    box-shadow: 0rem 0rem 3rem #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.title {
    position: relative;
    font-weight: 300;
    /* text-align: center; */
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--green);
    display: flex;
}


.title #logo{
    margin-left: 0rem;
    height: 5rem;
    width: 50%;
    cursor: pointer;
}


.title #logo img{
    margin-left: 0rem;
    /* height: 5rem; */
    width: 25rem;
}

.title .theme-toggle{
    position: absolute;
    margin: 1rem;
    width: 7rem;
    height: 7rem;
    top: 1rem;
    right: 1rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    border: var(--border);
    cursor: pointer;
}

.title .moon .fa-moon{
    display: none;
}

.title .sun .fa-sun{
    display: none;
}

.title .theme-toggle:active{
    box-shadow: var(--box-shadow-inset);
}

.title .theme-toggle i{
    font-size: 5rem;
}

#name-section {
    padding: 1rem;
    font-size: 3rem;
    display: flex;
    position:relative;
}

#name-section span {
    width: 10%;
    display:grid;
    place-items: center;
  
}

#name-section #name {
    width: 80%;
    padding: 1rem;
    font-size: 3rem;
    background-color: var(--bg-color);
}

.fa-circle-check{
    color: var(--green);
    display: none;
}

.nameDoneToggle .fa-circle-check{
    color: var(--green);
    display: block;
    display: grid;
    place-items: center;
    margin-right: 0.5rem;
    position: absolute;
    right: 3rem;
    top: 0;
    bottom: 0;
}

.task-input {
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.task-input #input {
    font-size: 3rem;
    padding-left: 1rem;
    width: 90%;
    background-color: var(--bg-color);
    border-radius: 2rem;
}

.task-input #btn {
    margin: 1.5rem;
    padding: 0.3rem;
    width: 7rem;
    height: 100%;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    display: flex;
    place-items: center;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    border: var(--border);
    cursor: pointer;
}



.task-input #btn:active {
    box-shadow: var(--box-shadow-inset);

}

.task-input #btn i {
    color: var(--green);
    font-size: 4rem;
    border-radius: 50%;
    background-color: var(--bg-color);

}

.container .task-input .input-box {
    display: flex;
    border-radius: 2rem;
    border: var(--border);
}

.container .task-input #input-desc {
    width: 80%;
    height: 5rem;
    margin-top: 0.3rem;
    font-size: 2rem;
    padding-left: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-color);
    border: var(--border);
    box-shadow: var(--box-shadow-inset);

}

.container .task-container{
    min-height: 50vh;
}

.container .task-container .tasks {
    margin: 3rem 1rem 3rem 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr auto auto;
}


.container .task-container .tasks .check {
    margin: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--bg-color);
    border-radius: 50%;
}

.container .task-container .tasks .task {
    width: 100%;
    margin: 1rem;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: var(--border);
    font-size: 2.5rem;
    cursor: pointer;
}


.container .task-container .tasks .edit {
    margin: 1rem 1rem 1rem;
    width: 3rem;
    height: 3rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;

}

.container .task-container .tasks .edit:active{
    box-shadow: var(--box-shadow-inset);
}


.container .task-container .tasks .edit i {
    color: var(--green);
    font-size: 1.8rem;
    border-radius: 50%;
}


.container .task-container .tasks .edit .iedit {
    box-shadow: 0rem 0rem 1rem rgba(8, 26, 107, 1);
}

.container .task-container .tasks .edit-icon-toggle .fa-circle-check{
    display: none;
}


.container .task-container .tasks .done-icon-toggle .fa-circle-check{
    display: block;
}
.container .task-container .tasks .done-icon-toggle .fa-pen-to-square{
    display: none;
}


.container .task-container .tasks .delete {
    margin: 1rem 2rem 1rem 0;
    width: 3rem;
    height: 3rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;

}


.container .task-container .tasks .delete:active{
    box-shadow: var(--box-shadow-inset);
}


.container .task-container .tasks .delete i {
    font-size: 1.5rem;
    border-radius: 50%;
    color: var(--green);
}

.container .task-container .tasks .delete .idelete {
    color: rgba(0, 255, 255, 1);
  
}
/* 
.container .task-container .tasks .delete i:hover {
    box-shadow: 0 0 0 1rem rgba(0, 255, 255, 0.1) inset,
        0 0 0 1rem rgba(0, 255, 255, 0.1),
         0 0 0 1rem rgba(0, 255, 255, 0.1) inset,
          0 0 0 1rem rgba(0, 255, 255, 0.1);
} */

.container .task-container .tasks .desc {
    grid-column: 2/4;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    margin: 1rem;
    border-radius: 2rem;
    width: 100%;
    border: var(--border);
    background-color: var(--bg-color);
    display: none;
    font-size: 2rem;
    cursor: auto;

}

.container .task-container .active .desc {
    display: block;
}


::selection {
    background-color: var(--bg-color);
}



@media screen and (max-width: 576px) {
    html{
        font-size: 50%;
    }

    .title .theme-toggle{
        width: 5rem;
        height: 5rem;
    }

    .title .theme-toggle i{
        font-size: 4rem;
    }

    
.title #logo img{
    margin-left: 1rem;
    margin-top: 1rem;
    /* height: 5rem; */
    width: 20rem;
}   
}
/* 
@media screen and (min-width: 820px) {
   

   
} */